header {
    background-color: mediumorchid;
    text-align: center;
    height: 60px;
    font-size: 50px;
}
body {
  padding: 20px;
  overflow: hidden;
    background-color: mistyrose;
    text-align: justify;
  }
  footer {
    background-color: mediumorchid;
    text-align: center;
    height: 60px;
    font-size: 30px;
    position: relative;
    clear: both; 
  }
    aside {
      position: relative;
      text-align: center;
        background-color: white;
        height: 500px;
        width: 370px;
        float: left; 
    }
    main {
      position: relative;
      text-align: center;
      background-color: white;
      height: 500px;
      width: 850px;
      float: right;
      overflow: hidden;
      font-size: 20px;
    }
    social{
      display: flex;
      margin: 20px auto;
      justify-content: space-around;
    }